body{
	margin: 0;
	padding:0;
	height: 100vh;
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;

}

.btext{
	color: #f0efeb;
	position: absolute;
	text-align: center;
	top:40%;
	width: 100%;
	line-height: 0.4em;
}



h1{
	font-size: 50px;
}


.neon{
	position: absolute;
	bottom: 1%;
	left:50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 0 10px;
	font-size: 1em;
	color: #fff;
	text-shadow: 0 0 20px #7ab0c2;
}
.neon:after{
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	padding: 0 10px;
	z-index: -1;
	color: #7ab0c2;
	filter: blur(25px);
}
.neon:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
	background: #fff;
	z-index: -2;
}

#particles-js{
	height: 100%;
	background: #040413;
background-image: url(https://vagabondbit.github.io/images/coffeeshop.JPG);
	
	padding: all;
	margin: all;
	background-size: cover;
}